bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/.idea/
**/[Mm]igrations/
**/launchSettings.json
*.user
/signoz/
node_modules/

.terraform/
*.tfstate
*.tfstate.*
*.tfvars

kyverno.yaml
.terraform.lock.hcl
