bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
**/.idea/
**/launchSettings.json
*.user
/signoz/
node_modules/

.terraform/
*.tfstate
*.tfstate.*
*.tfvars

kyverno.tf
.terraform.lock.hcl

.claude

diagram_explanation.txt
