apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ledger
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/AlmeidaFL/Ledger.git
    targetRevision: main
    path: .
    directory:
      recurse: true
      exclude: '{.vscode/*,**/*.json,**/*.md,argocd.yaml}'
      include: '{k8s/*.yaml,k8s/*.yml,**/k8s/*.yaml,**/k8s/*.yml}'
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    automated:
      prune: true
      selfHeal: true