apiVersion: v1
kind: ConfigMap
metadata:
  name: ledger-gateway-certs
data:
  grpc-dev.crt: |
    -----BEGIN CERTIFICATE-----
    MIIDDTCCAfWgAwIBAgIJAL+923fenBuoMA0GCSqGSIb3DQEBCwUAMBQxEjAQBgNV
    BAMTCWxvY2FsaG9zdDAeFw0yNTEyMDQyMjU2MDlaFw0yNjEyMDQyMjU2MDlaMBQx
    EjAQBgNVBAMTCWxvY2FsaG9zdDCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC
    ggEBAK1f6LYSbWNOwoL46A1clIF+X+5JNNwkZf/DWnCEWOtdhnmj8hzR6DxjIf/Q
    kfhKcLzYHyO7EoLUJtnPaYWbbfpDz87drcL5Xnb7DihpTwZ2eDcs7b/HgzGj1VGc
    jI4fcDeY03dk/s3EZweZrdgw5DFQE+MnooxU5xCXurMCWfqzunyL0EOQ4Hi6fhd4
    fh6iGh/nJXpGghXdn0V5VqSCau4edN7w2bfX4ETL/Ku305kW1CppH7uGpBPoIZrv
    2dqlFhDBikcpI1LM2+7fR/PnXsG+Ut+Yeif82AXxIq1NNK+3lsc39pIFr/jIvTOn
    ORExlC1kdKag03U9XFQWoXWihLUCAwEAAaNiMGAwDAYDVR0TAQH/BAIwADAOBgNV
    HQ8BAf8EBAMCBaAwFgYDVR0lAQH/BAwwCgYIKwYBBQUHAwEwFwYDVR0RAQH/BA0w
    C4IJbG9jYWxob3N0MA8GCisGAQQBgjdUAQEEAQIwDQYJKoZIhvcNAQELBQADggEB
    AKz3c6c1cm+wNlKnv39QB4niP0hvJXfhvmmcjwfDOJokYUr6UXvveK02MVpiOw/j
    Gii2z6FQrU58HkyxwJ+CK9lrjAhW+NrJcwy6fZaRkkSjIp+1tlvAadzlsDsuSztH
    Qq9PFXZ2fVKy4WuSNygdBcwLZDQmNKedt0V6duTcyoKct8ZmBii4KmgOqg6zFh8F
    b7V1PlMAH1zFhqRh2WMt8tLbUO3foAWCsDwSTS4pP5oJWermDb06pV0tJWC+1+nV
    vFYPpXkAGU50hsAJyOq+2UC7x3bgSjWHf2KBdI8G3dNnGQR798jgJD33xQHQNACc
    7/fypUdJKFNGpYjk4cpHNIM=
    -----END CERTIFICATE-----

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: ledger-gateway
  labels:
    app: ledger-gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ledger-gateway
  template:
    metadata:
      labels:
        app: ledger-gateway
    spec:
      containers:
        - name: ledger-gateway
          image: ledger-gateway
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          env:
            - name: OpenTelemetry__ExporterUrl
              value: http://signoz-otel-collector:4317
            - name: ASPNETCORE_ENVIRONMENT
              value: Development
          volumeMounts:
            - name: ca-certs
              mountPath: /usr/local/share/ca-certificates/grpc-dev.crt
              subPath: grpc-dev.crt
              readOnly: true
          command:
            - sh
            - -c
            - |
              update-ca-certificates && dotnet LedgerGateway.dll
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 5
            periodSeconds: 5
      volumes:
        - name: ca-certs
          configMap:
            name: ledger-gateway-certs

---

apiVersion: v1
kind: Service
metadata:
  name: ledger-gateway
spec:
  type: NodePort
  selector:
    app: ledger-gateway
  ports:
    - name: http
      port: 5000
      targetPort: 8080
      nodePort: 30050
